@use '../base/variables.scss' as *;

.about {
    padding-top: 48px;
    &__title-web {
        display: none;
    }
    &__text {
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: $font-color;
            margin-top: 16px; 
        }
        &:nth-child(1) {
            margin-top: 20px;
        }
    }
    &__info {
        margin-top: 32px;
        width: 50%;
        &-item {
            margin-top: 20px;
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: $font-color;
            }
        }
        &:nth-child(1) {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1440px) {
    .about {
        padding-top: 120px;
        &__wrapper {
            display: grid;
            grid-template-columns: 52% 48%;
        }
        &__title-web {
            display: block;
            max-width: 562px;
        }
        &__title-mob {
            display: none;
        }
        &__text {
            width: 65%;
            &:nth-child(1) {
                margin-top: 0;
            }
        }

        &__info {
            margin-top: 44px;
            width: 25%;

            &-item {
                margin-top: 24px;
            }

            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }
}